---
import { getStrapiUrl } from "../../lib/strapi";
const { value, caption } = Astro.props;
const url = value?.data?.attributes?.url;
const mime = value?.data?.attributes?.mime;
---

<div class="max-w-lg my-4">
  <audio controls>
    <source src={getStrapiUrl(url, null, false)} type={mime} />
    Your browser does not support the audio element.
  </audio>
  {
    caption && (
      <p class="pl-2 italic text-neutral-600 leading-tight mt-1 text-justify">
        {caption}
      </p>
    )
  }
</div>
