---
import { randImg } from "../../lib/img";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <style>
      .text-overlay-shadow {
        text-shadow: 0px 0px 5px rgb(50, 50, 50), 0px 0px 2px rgb(50, 50, 50);
      }
    </style>
  </head>
  <body class="font-serif text-neutral-900">
    <div class="container max-w-screen-lg mx-auto px-4 py-8">
      <!-- TITLE -->
      <div class="grid grid-cols-[auto_1fr] gap-3">
        <div class="pb-2">
          <div class="w-3 h-full bg-teal-700 bg-opacity-20 flex-shrink-0"></div>
        </div>
        <div class="flex-1">
          <h1 class="font-sans text-3xl font-semibold pb-1">
            Trilocale via Carlo Marx 423, Sesto San Giovanni, Milano
          </h1>
          <p
            class="text-lg leading-tight text-teal-700 uppercase font-sans font-semibold pl-px">
            Luminoso attico con terrazzi e piscina condominiale
          </p>
          <hr class="border-teal-700 opacity-20 my-2 ml-0.5 w-full" />
        </div>
      </div>

      <!-- SECTIONS -->
    </div>
  </body>
</html>
