<div class="font-sans text-neutral-800 flex items-center gap-2">
  <span
    class="skiptranslate material-symbols-outlined scale-90 origin-top">
    home
  </span>
  <span class="font-bold">info appartamento</span>
</div>
