<div class="font-sans flex items-center gap-2">
  <span
    class="skiptranslate material-symbols-outlined text-rose-500 scale-90 origin-top"
  >
    home
  </span>
  <span class="font-bold text-slate-700 uppercase">info appartamento</span>
</div>
