<div class="font-sans flex items-center gap-2">
  <span
    class="skiptranslate material-symbols-outlined text-airbnb scale-90 origin-top">
    home
  </span>
  <span class="font-bold text-slate-700 uppercase leading-[1.1]">
    BNB House Guide
  </span>
</div>
