---
export interface Props {
  sections: { name: string; hash: string; n: number }[];
}

const { sections } = Astro.props;
---

<div id="mobile-sections-container" class="md:hidden sticky top-0 z-50 mb-6">
  <div class="relative">
    <div class="absolute h-full bg-white shadow full-bleed -z-10"></div>
    <div class="pt-7 pb-5">
      <div class="flex gap-3">
        <button
          onclick="toggle()"
          class="border border-slate-600 rounded-md w-fit px-3 py-px text-sm flex gap-2">
          <span class="font-semibold font-mont text-slate-600">indice</span>
          <div class="-translate-y-[2px]">
            <div
              id="mobile-sections-arrow"
              class="font-black font-sans text-blue-500 transition-transform origin-right duration-200">
              {">"}
            </div>
          </div>
        </button>
        <span id="scrollspy"></span>
      </div>
      <div
        id="mobile-sections-nav"
        class="grid overflow-hidden grid-rows-[0fr] transition-all duration-500">
        <div class="min-h-0 pl-4">
          <ul class="font-sans pt-5 flex flex-col gap-1" onclick="toggle();">
            {
              sections.map((sec) => (
                <li>
                  <a href={"#" + sec.hash}>
                    {sec.n}. {sec.name}
                  </a>
                </li>
              ))
            }
          </ul>
        </div>
      </div>
      <script is:inline>
        const dropdown = document.querySelector("#mobile-sections-nav");
        const arrow = document.querySelector("#mobile-sections-arrow");
        let t = false;

        function toggle() {
          console.log("togglinn");
          if (t) {
            dropdown.style.gridTemplateRows = "0fr";
            arrow.style.transform = "rotate(0deg)";
          } else {
            dropdown.style.gridTemplateRows = "1fr";
            arrow.style.transform =
              "translateX(-1px) translateY(5px) rotate(90deg)";
          }
          t = !t;
        }

        const container = document.querySelector("#mobile-sections-container");
        window.addEventListener("click", (e) => {
          if (e.tartget != container && !container.contains(e.target) && t) {
            console.log("shheeeeeeesh");
            toggle();
          }
        });
      </script>
    </div>
  </div>
</div>
